<div class="jumbotron col-md-8 col-md-offset-2">
    <h1>Add new product</h1>
    <hr>
    {{# if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <form action="/admin/catalogue/add-product" method="post" id="product-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="platform">Platform</label>
            <input type="text" id="platform" name="platform" class="form-control">
        </div>
        <div class="form-group">
            <label for="genres">Genres</label>
            <br>
            <input type="text" id="genres" name="genres" style="width:100%" class="form-control" data-role="tagsinput">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" id="price" name="price" class="form-control">
        </div>
        <div class="form-group">
            <label for="quantity">Copies in stock</label>
            <input type="text" id="quantity" name="quantity" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="10" id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="thumbnail">Preview image</label>
            <input type="text" id="thumbnail" name="thumbnail" class="form-control">
            <img id="thumbnail_preview" src="" style="max-width: 100%; height: auto;">
        </div>
        <hr>
        <button class="btn btn-primary" style="display: inline" type="submit">
            <i class="fa fa-check" aria-hidden="true"></i>Accept</button>
        <a href="/admin/catalogue/" class="btn btn-danger" role="button">
            <i class="fa fa-close" aria-hidden="true"></i>Cancel</a>
    </form>
</div>

<script type="text/javascript" src="/javascripts/catalogue.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>