<div class="jumbotron col-md-8 col-md-offset-2">
    <h1>Edit user account</h1>
    <hr>
    {{# if hasErrors}}
        <div class="alert alert-danger">
            {{# each hasErrors}}
                <p>{{this.msg}}</p>
            {{/each}}
        </div>
    {{/if}}
    <form action="/admin/users/update/{{user._id}}" method="post" id="user-form">
        <div class="form-group">
            <label for="email">E-mail address</label>
            <input type="text" id="email" name="email" class="form-control" value="{{user.email}}">
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" name="role" class="form-control">
                <option value="user" {{#equal user.role "user"}}selected{{/equal}}>user</option>
                <option value="admin" {{#equal user.role "admin"}}selected{{/equal}}>admin</option>
            </select>
        </div>
        <div class="form-group">
            <label for="thumbnail">Profile picture</label>
            <input type="text" id="thumbnail" name="thumbnail" class="form-control" value="{{user.imagePath}}">
            <img id="thumbnail_preview" src="{{user.imagePath}}" style="margin-top: 20px; max-width: 20%; height: auto;">
        </div>
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" id="firstname" name="firstname" class="form-control" value="{{user.firstName}}">
        </div>
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" id="lastname" name="lastname" class="form-control" value="{{user.lastName}}">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" class="form-control" value="{{user.address}}">
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" id="phone" name="phone" class="form-control" value="{{user.phone}}">
        </div>
        <div class="form-group">
            <label for="dob">Date of birth</label>
            <div class="input-group date" id="datepicker">
                <input type="text" id="dob" name="dob" class="form-control" value="{{user.dob}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
        <hr>
        <button class="btn btn-primary" style="display: inline" type="submit">
            <i class="fa fa-check" aria-hidden="true"></i>Accept</button>
        <a href="/admin/catalogue/" class="btn btn-danger" role="button">
            <i class="fa fa-close" aria-hidden="true"></i>Cancel</a>
    </form>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/admin_users.js"></script>