<div class="jumbotron col-md-8 col-md-offset-2">
    <h1>Add user account</h1>
    <hr>
    {{# if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <form action="/admin/users/add-user" method="post" id="user-form">
        <div class="form-group">
            <label for="email">E-mail address</label>
            <input type="text" id="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" name="role" class="form-control">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>
        </div>
        <hr>
        <button class="btn btn-primary" style="display: inline" type="submit">
            <i class="fa fa-check" aria-hidden="true"></i>Accept</button>
        <a href="/admin/catalogue/" class="btn btn-danger" role="button">
            <i class="fa fa-close" aria-hidden="true"></i>Cancel</a>
    </form>
</div>