<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="top-bar">
        <h1>Manage Users</h1>
        <a href="/admin/users/add-user" class="btn btn-top" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>  Add user</a>
        <a href="/admin/users/delete/" class="btn btn-top" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>  Delete all</a>
    </div>
    <table class="table-hover">
        <tr>
            <th class="admin-th"></th>
            <th class="admin-th">Name</th>
            <th class="admin-th">E-mail address</th>
            <th class="admin-th">Role</th>
            <th class="admin-th"></th>
        </tr>
        {{#each userList}}
            <tr>
                <td class="admin-td"><img class="item-thumbnail" src="{{imagePath}}"></td>
                <td class="admin-td">{{firstName}} {{lastName}}</td>
                <td class="admin-td">{{email}}</td>
                <td class="admin-td">{{role}}</td>
                <td class="admin-td" style="min-width: 150px">
                    <div class="btn-group" style="display: inline-block" role="group">
                        <a href="/admin/users/update/{{this._id}}" class="btn" role="button">
                            <i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a href="/admin/users/delete/{{this._id}}" class="btn" role="button">
                            <i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<link rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/stylesheets/admin.css" />

