<div class="row">
    <div class="jumbotron col-md-6 col-md-offset-3">
        <h1>Enter your email</h1>
        <hr>
        {{# if hasMessage}}
            <div class="alert alert-danger">
               {{#each messages}}
                   <p>{{this}}</p>
               {{/each}}
            </div>
        {{/if}}
        <form action="/user/forgot-password" method="post">
            <div class="form-group">
                <label for="email" hidden>Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Confirm</button>
        </form>
    </div>
</div>