<div class="row">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-md-offset-2 col-sm-offset-3">
            <div id="info" class="alert alert-info" {{#if noMessage}}hidden{{/if}}>
                {{ msg }}
            </div>
        </div>
    </div>
    <div class="jumbotron col-md-8 col-md-offset-2">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                          data-toggle="tab">Profile</a></li>
                {{#equal user.role 'user'}}
                    <li role="presentation"><a href="#creditcard" aria-controls="creditcard" role="tab"
                                               data-toggle="tab">Credit Card</a></li>{{/equal}}
                {{#equal user.role 'user'}}
                    <li role="presentation"><a href="#orders" aria-controls="orders" role="tab"
                                               data-toggle="tab">Orders</a></li>{{/equal}}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <h1>User Profile</h1>
                    <hr>
                    <img class="profile-picture" src="{{user.imagePath}}">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                        <li class="list-group-item"><strong>First Name: </strong>{{user.firstName}}</li>
                        <li class="list-group-item"><strong>Last Name: </strong>{{user.lastName}}</li>
                        <li class="list-group-item"><strong>DOB: </strong>{{user.dob}}</li>
                        <li class="list-group-item"><strong>Phone: </strong>{{user.phone}}</li>
                        <li class="list-group-item"><strong>Address: </strong>{{user.address}}</li>
                    </ul>
                    <a href="/user/update-profile" class="btn btn-lg btn-primary">Update</a>
                    <a href="/user/update-password" class="btn btn-lg btn-danger">Change Password</a>
                </div>
                <div role="tabpanel" class="tab-pane" id="creditcard">
                    {{# if user.cardId}}
                        <h1>Credit Card</h1>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Card Holder Name: </strong>{{card.holderName}}</li>
                            <li class="list-group-item"><strong>Card Number: </strong>{{card.number}}</li>
                            <li class="list-group-item"><strong>Expiration Date: </strong>{{card.expMonth}}
                                /{{card.expYear}}</li>
                            <li class="list-group-item"><strong>CVC: </strong>{{card.cvc}}</li>
                        </ul>
                        <a href="/user/update-card" class="btn btn-lg btn-primary">Update</a>
                        <a href="/user/delete-card" class="btn btn-lg btn-danger">Delete</a>
                    {{else}}
                        <h2>No Credit Card</h2>
                        <a href="/user/update-card" class="btn btn-lg btn-primary">Add Credit Card</a>
                    {{/if}}
                </div>
                <div role="tabpanel" class="tab-pane" id="orders">
                    <h1>My Orders</h1>
                    <hr>
                    {{# each orders }}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ this.date }}</strong>
                            </div>
                            <div class="panel-body">
                                <h4>
                                    <strong>Name: </strong>{{this.name}}
                                </h4>
                                <h4>
                                    <strong>Address: </strong>{{this.address}}
                                </h4>
                                <h4>
                                    <strong>Phone: </strong>{{this.phone}}
                                </h4>
                                <hr>
                                <ul class="list-group">
                                    {{# each this.items }}
                                        <li class="list-group-item">
                                            <span class="badge">{{ this.price }}</span>
                                            {{ this.item.title }} | {{ this.qty }} Key(s)
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="panel-footer">
                                {{#if this.received}}
                                    <label class="label label-success pull-right">Delivered</label>
                                {{else}}
                                    <label class="label label-warning pull-right">Ongoing</label>
                                {{/if}}
                                <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>

