<div class="row">
    <div class="jumbotron col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control">
            </div>
            {{!--<input type="hidden" name="_csrf" value="{{ csrfToken }}">--}}
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>