<div class="row">
    <div class="jumbotron col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Credit Card Info</h1>
        <hr>
        <form action="/user/update-card" method="post" id="card-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Card Holder Name</label>
                        <input type="text" id="card-name" class="form-control" required name="holderName" value="{{card.holderName}}">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" class="form-control" required name="number" value="{{card.number}}">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month">Expiration Month</label>
                                <input type="text" id="card-expiry-month" class="form-control" required name="expMonth" value="{{card.expMonth}}">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year">Expiration Year</label>
                                <input type="text" id="card-expiry-year" class="form-control" required name="expYear" value="{{card.expYear}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc">CVC</label>
                        <input type="text" id="card-cvc" class="form-control" required name="cvc" value="{{card.cvc}}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
</div>
