<div class="row">
    {{# if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <div class="jumbotron col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h1>User Profile</h1>
        <hr>
        <form action="/user/update-profile" method="post" id="user-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" class="form-control" required name="email" value="{{user.email}}">
                    </div>
                    <div class="form-group">
                        <label for="thumbnail">Profile picture</label>
                        <input type="text" id="thumbnail" name="thumbnail" class="form-control" value="{{user.imagePath}}">
                        <img id="thumbnail_preview" src="{{user.imagePath}}" style="margin-top: 20px; max-width: 20%; height: auto;">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <input type="text" class="form-control" required name="firstName" value="{{user.firstName}}">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="name">Last Name</label>
                                <input type="text" class="form-control" required name="lastName" value="{{user.lastName}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month">DOB</label>
                                <input type="text" id="card-expiry-month" class="form-control" required name="dob" value="{{user.dob}}">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year">Phone</label>
                                <input type="text" id="card-expiry-year" class="form-control" required name="phone" value="{{user.phone}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Address</label>
                        <input type="text" class="form-control" required name="address" value="{{user.address}}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Confirm</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="../javascripts/admin_users.js"></script>