body {
    background: #20282D;
    background-image: url('../images/noise.png');
    background-repeat: repeat;
    color: #cdcdcd;
}

table {
    width: 100%;
    margin: 30px;
    color: #cdcdcd;
    padding: 10px;
}

.admin-tr, .admin-th, .admin-td {
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #303c44;
    padding: 20px;
}

.admin-tr {
    border-bottom: 1px solid #303c44;
}

.admin-th {
    color: #cccccc;
    font-size: medium;
    background: rgba(41, 50, 56, 0.5);
}

.table-hover tbody tr:hover td {
    background: #303c44;
}

.table-hover tbody tr:hover th {
    background: rgb(41, 50, 56);
}

.btn {
    outline: 0;
    padding: 6px 16px;
    display: block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    background: #232B30;
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30));
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.btn:hover {
    color: #fff;
    background: #4C5A64;
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
}
.btn:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D;
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}

.top-bar {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    float: left;
    margin-bottom: 40px;
    color: #cdcdcd;
}

h3 {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #999999;
    background: rgba(41, 50, 56, 0.5);
}

.sales_button_row {
    display: inline-block;
    float: right;
    margin-top: 32px;
}

.btn-top {
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: 25px;
}

.item-thumbnail {
    max-width: 128px;
    border-radius: 4px;
    border: 2px solid #cdcdcd;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.selectpicker {
    display: inline-block;
}

.btn-lg {
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
}