<div class="row">
    <div class="col-md-8">
        <div class="details-page jumbotron">
            <h1>{{product.title}}</h1>
            <hr>
            <input id="productId" hidden value="{{product._id}}">
            <img class="cover-art" src="{{product.imagePath}}"/>
            <p class="description">{{product.description}}</p>
            <div class="label label-warning">{{product.platform}}</div>
            {{# each product.genre}}
                <div class="label label-default">{{this}}</div>
            {{/each}}
            <hr>
            <div class="clearfix">
                <div class="detail-price pull-left">${{product.price}}</div>
                <a href="/add-to-cart/{{product._id}}" class="add-link btn btn-lg btn-success detail-buy pull-right" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="jumbotron">
            <h1>Comment</h1>
            <hr>
            <div id="commentSection">
                {{#each comments}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                    <span class="commenterImage">
                        <img src='{{this.imagePath}}'/>
                    </span>
                            <h4 class="commenterName">{{this.name}}</h4>
                        </div>
                        <div class="panel-body">
                            <p class="commentText">{{this.content}}</p>
                            <span class="date sub-text">{{this.date}}</span>
                        </div>
                    </div>
                {{/each}}
                <input id="currentPage" hidden value="{{currentPage}}">
            </div>
            <hr>
            <div class="panel panel-default">
                {{#unless user.role}}
                    <div class="panel-heading">
                        <input type="text" class="form-control" id="commentName" name="commentName" placeholder="Name">
                    </div>
                {{/unless}}
                <div class="panel-body">
                    <textarea type="text" class="form-control" id="commentContent" name="commentContent"
                              placeholder="Comment"></textarea>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary btn-md" id="commentButton">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron col-md-4">
        <h2><strong>Suggested</strong></h2>
        <hr>
        {{# each similarProducts }}
            <a href="/details/{{this._id}}">
                <div class="panel panel-default">
                    <div class="suggest panel-body clearfix">
                        <img class="" src="{{this.imagePath}}" alt="...">
                        <hr>
                        <p>{{this.title}}</p>
                       {{!-- <div class="price">${{this.price}}</div>--}}
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>

<script type="text/javascript" src="../javascripts/comment.js"></script>
<script type="text/javascript" src="../javascripts/cart.js"></script>