{{# if products}}
    <div class="jumbotron col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <div class="row">
            <div class="">
                <ul class="list-group">
                    {{# each products}}
                        <li class="list-group-item">
                            <span class="product-qty badge">{{this.qty}}</span>
                            <strong>{{this.item.title}}</strong>
                            <span class="label label-success">${{this.price}}</span>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="/reduce/{{this.item._id}}" class="reduce-link">Reduce by 1</a></li>
                                    <li><a href="/remove/{{this.item._id}}" class="remove-link">Remove All</a></li>
                                </ul>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <strong>Total: ${{totalPrice}}</strong>
        </div>
        <hr>
        <div class="row">
            <a href="/checkout" class="btn btn-success" type="button">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="jumbotron col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in cart</h2>
            <hr>
            <a href="/" class="btn btn-lg btn-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Continue shopping</a>
        </div>
    </div>
{{/if}}

<script type="text/javascript" src="../javascripts/cart.js"></script>
